* {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-align: center;
}

nav * {
  margin: 2em;
}

input {
  display: block;
  margin: auto;
  width: 50%;
  padding: 1em;
  border: solid 1px #aaa;
  border-radius: 5px;
}

.App {
  margin: 2em 1em;
}
.results {
  margin-top: 3em;
}